<ion-header>
  <ion-toolbar>
      <ion-row class="ion-justify-content-between">
          <div>
              <ion-title>Serviços</ion-title>
              <span>Escolha um serviço para agendar</span>
          </div>
          <ion-img src="../../../assets/icon/logoDouradosNOBKG.svg"></ion-img>
      </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Buscar serviço" showCancelButton="focus" (ionInput)="getItems($event)"></ion-searchbar>

  <!-- Item só -->
  <ion-row class="servico ion-justify-content-center" *ngFor="let servico of servicoItem">
      <a href="/tabs/pg/local">
          <ion-col size="12">
              <div>
                  <h1 class="title">{{ servico.nomeServico }}</h1>
                  <span class="preco">R$ {{ servico.valorServico }}</span>
              </div>
              <hr>
              <p>{{ servico.descricaoServico }}</p>
          </ion-col>
      </a>
  </ion-row>
  <!-- fim Item só -->

  <div class="block"></div>
      
</ion-content>
