<ion-content class="body">

  <video id="video" loop src="../../../assets/introAppHD.webm"></video>
  <div class="filter"></div>


  <ion-img class="ion-align-items-end fade" src="../../../assets/icon/logoDouradosNOBKG.svg"></ion-img>

  <ion-row class="ion-align-items-end ion-justify-content-center fade">

      <ion-row class="ion-justify-content-center">
        <ion-button id="trigger" fill="solid" shape="round" (click)="openModal()">login</ion-button>
      </ion-row>

  </ion-row>
    
  <ion-row class="ion-align-items-end ion-justify-content-center fade">
    <a href="/tabs/pg/home">entrar sem login</a>
  </ion-row>
    
  <div class="degrade"></div>
    
</ion-content>
