
ion-img
{
    width: auto;
    height: 25%;

    margin-top: 30vh;
}

ion-button
{
    margin-top: 30vh;

    font-weight: 600;
}

a
{
    margin-top: 2%;
    text-decoration: none;
    color: white;
    opacity: .7;
}
