<ion-content>

  <ion-row class="ion-justify-content-center">
    <ion-col class="avatarBox">
      <ion-avatar>
          <img src="../../../assets/icon/iconAvatar.png" />
      </ion-avatar>
      <h3>Enviar foto <br><span>(opcional)</span></h3>
    </ion-col>
  </ion-row>

  <ion-item class="campo">
    <ion-label class="titleCampo" position="stacked">Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="campo">
    <ion-label class="titleCampo" position="stacked">Celular</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="campo">
    <ion-label class="titleCampo" position="stacked">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="campo">
    <ion-label class="titleCampo" position="stacked">Senha</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="campo">
    <ion-label class="titleCampo" position="stacked">Repetir senha</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-row class="ion-justify-content-center">
    <ion-button href="/tabs/pg/cadastro" fill="solid" shape="round">cadastrar-se</ion-button>
  </ion-row>

  <div class="block"></div>

</ion-content>
