

<ion-content>

    <!-- perfil deslogado -->
    <ion-grid id="perfilDeslogado">
        <ion-row class=" ion-justify-content-center">
            <ion-col size="9">
                <h1 class="title">FAÇA LOGIN E GANHE <br><span>DESCONTOS</span></h1>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-avatar>
                <img src="../../../assets/icon/iconAvatar.png" />
            </ion-avatar>
        </ion-row>
        <ion-row>
            <ion-col size="12"><p class="textoPerfil">Faz um cadastro aí campeão, <br><span>é simples!</span></p></ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button href="/tabs/pg/cadastro" fill="outline" shape="round">fazer cadastro</ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button href="/tabs/pg/login" fill="clear" shape="round">fazer login</ion-button>
        </ion-row>
    </ion-grid>

    <!-- perfil logado -->
    <ion-grid id="perfil">
        <ion-row class="ion-justify-content-center">
            <ion-avatar>
                <img [src]='this.usr.fotoPerfil()' />
            </ion-avatar>
        </ion-row>
        <ion-row>
            <ion-col size="12"><p class="textoPerfil logado">Olá, <span>{{ this.usr.data[1] }}!</span></p></ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button href="/tabs/pg/perfil-usuario" fill="outline" shape="round">ver perfil</ion-button>
        </ion-row>
    </ion-grid>

    <ion-grid class="feed ion-no-padding" fixed>
        <ion-row>
            <ion-col class="ion-text-center" size="12"> 

                <div class="blocoSlider">
                </div>

                <ion-slides id="sliderFeed" [options]="slidesFeed">
                    <ion-slide>
                        <ion-img src="../../../assets/sliderFeed01.jpg"></ion-img>
                    </ion-slide>
                    <ion-slide>
                        <ion-img src="../../../assets/sliderFeed02.jpg"></ion-img>
                    </ion-slide>
                    <ion-slide>
                        <ion-img src="../../../assets/sliderFeed03.jpg"></ion-img>
                    </ion-slide>
                </ion-slides>

            </ion-col>
        </ion-row>
    </ion-grid>

    <hr>
    <!-- Começo conheça seu barbeiro -->
    <ion-grid id="barbeiros">
        <!-- Titulo -->
        <ion-row class=" ion-justify-content-center">
            <ion-col size="9">
                <h1 class="title">CONHEÇA SEU <br><span>BARBEIRO</span></h1>
            </ion-col>
        </ion-row>

        <ion-img class="fundo" src="../../../assets/fundoBarbeiros.png"></ion-img>

        <!-- Avatar -->
        <ion-row class="avatarBarbeiro ion-justify-content-center">
            <ion-col class="center" size="5">
                <ion-avatar>
                    <img src="../../../assets/icon/iconAvatar.png" />
                </ion-avatar>
            </ion-col>

            <ion-col class="ion-text-center" size="5">
                <div class="nomeBarbeiro">
                    <h3>{{ dadosBarbeiro[0]?.nome }}</h3>
                    <div>
                        <ion-icon slot="start" name="star"></ion-icon>
                        <ion-icon slot="start" name="star"></ion-icon>
                        <ion-icon slot="start" name="star"></ion-icon>
                        <ion-icon slot="start" name="star-half"></ion-icon>
                        <ion-icon slot="start" name="star-outline"></ion-icon>
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <!-- Descrição -->
        <ion-row class="ion-justify-content-center">
            <!-- MÁXIMO 128 CARACTERES -->
            <p class="descBarbeiro">{{ dadosBarbeiro[0]?.descricao }} <a href="/tabs/pg/perfil-barbeiro/{{ dadosBarbeiro[0]?.id }}">ver mais</a></p>
        </ion-row>

        <ion-row class="ion-justify-content-end">
            <ion-col class="nopadding">
                <div class="wrapperSliderB">
                    <ion-slides id="slider" pager="false" [options]="slidesBarbeiro">
                        <ion-slide>
                            <ion-img src="../../../assets/sliderBarbeiro01.jpg"></ion-img>
                        </ion-slide>
                        <ion-slide>
                            <ion-img src="../../../assets/sliderBarbeiro02.jpg"></ion-img>
                        </ion-slide>
                        <ion-slide>
                            <ion-img src="../../../assets/sliderBarbeiro03.jpg"></ion-img>
                        </ion-slide>
                    </ion-slides>
                </div>
            </ion-col>
        </ion-row>

        <ion-button class="btn" href="/tabs/pg/lista-barbeiros" expand="full">
            ver todos os barbeiros
            <ion-icon class="seta" name="chevron-forward-outline"></ion-icon>
        </ion-button>

        <div class="block"></div>
    
    </ion-grid>
    <!-- Fim conheça seu barbeiro -->
    
</ion-content>
