

<ion-content>

    <ion-row class="ion-justify-content-center">
        <ion-col size="9">
            <h1>FAÇA LOGIN E GANHE <span>DESCONTOS</span></h1>
        </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <ion-avatar>
            <img src="../../../assets/icon/iconAvatar.png" />
        </ion-avatar>    
    </ion-row>

    <ion-row>
        <ion-col size="12"><p class="textoCadastro">Faz um cadastro aí campeão, <br><span>é simples!</span></p></ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-button fill="outline" shape="round">fazer cadastro</ion-button>
    </ion-row>

</ion-content>
