<ion-content>
<!-- Avatar -->
<a href="/tabs/pg/perfil-barbeiro">
  <ion-row class="avatarBarbeiro ion-justify-content-center ion-align-center">
    <ion-col offset="1" size="4">
        <ion-avatar>
            <img src="../../../assets/icon/iconAvatar.png" />
        </ion-avatar>
    </ion-col>
  
    <ion-col class="ion-text-center" size="5">
        <div class="nomeBarbeiro">
            <h3>André Luiz</h3>
            <div>
                <ion-icon slot="start" name="star"></ion-icon>
                <ion-icon slot="start" name="star"></ion-icon>
                <ion-icon slot="start" name="star"></ion-icon>
                <ion-icon slot="start" name="star-half"></ion-icon>
                <ion-icon slot="start" name="star-outline"></ion-icon>
            </div>
        </div>
    </ion-col>
  
    <ion-col class="seta ion-text-center">
        <ion-icon size="large" name="chevron-forward-outline"></ion-icon>
    </ion-col>
  </ion-row>
</a>

<a href="/tabs/pg/perfil-barbeiro">
    <ion-row class="avatarBarbeiro ion-justify-content-center ion-align-center">
      <ion-col offset="1" size="4">
          <ion-avatar>
              <img src="../../../assets/icon/iconAvatar.png" />
          </ion-avatar>
      </ion-col>
    
      <ion-col class="ion-text-center" size="5">
          <div class="nomeBarbeiro">
              <h3>Paulo Barbosa</h3>
              <div>
                  <ion-icon slot="start" name="star"></ion-icon>
                  <ion-icon slot="start" name="star"></ion-icon>
                  <ion-icon slot="start" name="star"></ion-icon>
                  <ion-icon slot="start" name="star-half"></ion-icon>
                  <ion-icon slot="start" name="star-outline"></ion-icon>
              </div>
          </div>
      </ion-col>
    
      <ion-col class="seta ion-text-center">
          <ion-icon size="large" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
</a>


</ion-content>
