<ion-header>
  <ion-toolbar>
      <ion-row class="ion-justify-content-between">
          <div>
              <ion-title>Local</ion-title>
              <span>Escolha onde e com quem será</span>
          </div>
          <ion-img src="../../../assets/icon/logoDouradosNOBKG.svg"></ion-img>
      </ion-row>
      
  </ion-toolbar>
  <ion-row class="choosen ion-align-center">
    <ion-col size="12" class="ion-margin-top">
        <h1 class="title">Corte</h1>
        <span class="preco">R$ 40,00</span>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-slides>


    <ion-slide id="semPreferencia">
      <ion-row class="avatarBarbeiro ion-justify-content-center ion-align-center">
        <ion-col size="4">
            <ion-avatar>
                <img src="../../../assets/icon/iconAvatar.png" />
            </ion-avatar>
        </ion-col>

        <ion-col class="ion-text-center" size="6">
            <div class="nomeBarbeiro">
                <h3>Sem preferência</h3>
                <div>
                    <ion-icon slot="start" name="star-outline"></ion-icon>
                    <ion-icon slot="start" name="star-outline"></ion-icon>
                    <ion-icon slot="start" name="star-outline"></ion-icon>
                    <ion-icon slot="start" name="star-outline"></ion-icon>
                    <ion-icon slot="start" name="star-outline"></ion-icon>
                </div>
            </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    

    <ion-slide *ngFor="let barbeiro of barbeiroItem">
      <ion-row class="avatarBarbeiro ion-justify-content-center ion-align-center">
        <ion-col size="4">
            <ion-avatar>
                <img src="../../../assets/icon/iconAvatar.png" />
            </ion-avatar>
        </ion-col>
    
        <ion-col class="ion-text-center" size="6">
            <div class="nomeBarbeiro">
                <h3>{{ barbeiro.nomeFuncionario }}</h3>
                <div>
                    <ion-icon slot="start" name="star"></ion-icon>
                    <ion-icon slot="start" name="star"></ion-icon>
                    <ion-icon slot="start" name="star"></ion-icon>
                    <ion-icon slot="start" name="star"></ion-icon>
                    <ion-icon slot="start" name="star-outline"></ion-icon>
                </div>
            </div>
        </ion-col>
      </ion-row>
    </ion-slide>


  </ion-slides>

  <ion-searchbar placeholder="Buscar barbeiro" showCancelButton="focus" (ionInput)="getItems($event)"></ion-searchbar>

</ion-content>
