ion-toolbar
{
    height: 130%;   
    display: flex;
    align-items: center;
    padding-top: 7% !important;

    --background: black;
    overflow: visible;

    & >*{
        padding: 0 20px;
    }
}
ion-toolbar div
{
    width: fit-content;
    height: auto;
    padding-right: 0;
    margin-right: 0;

    position: relative;
    top: 0; left: 0;

    & span{
        opacity: .8;
        font-size: clamp(.5em, 4vw, 1em);
    }
}
ion-title
{
    width: fit-content;
    height: auto;
    padding: 0;
    padding-bottom: 1%;
    font-family: var(--font-title);
    font-size: clamp(.5em, 8vw, 2em);
    letter-spacing: 1.5px;
}
ion-img
{
    width: 20%;
    height: auto;

    position: relative;
    
}
.choosen
{
    width: 90vw;
    height: 3em;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    padding: 0 5%;

    color: white;
    background-color: #202020;
    border-radius: 0 0 25px 25px;
}

.choosen ion-col
{
    width: 100%;
    height: fit-content;
    margin-bottom: 3%;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    opacity: .9;
}
.choosen .title
{
    margin: 0;

    font-weight: 400;
    font-size: 1.1em;
    margin-top: 0 !important;
}
.choosen .preco
{
    font-size: 1em !important;
}
.avatarBarbeiro:nth-child(1)
{
    margin-top: 25%;
}
.avatarBarbeiro
{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;

    overflow: visible;
    color: white;
}
ion-avatar
{
    width: 85px;
    height: 85px;
    margin: 0 auto;
} 
ion-avatar img
{
    border: solid 5px;
    border-color: var(--ion-color-primary);
    box-shadow: 0 5px 50px black;
}
.nomeBarbeiro
{
    display: flex;
    flex-direction: column;
    justify-content: center !important;

    text-align: center;
    font-family: var(--font-title);
    letter-spacing: 2px;

    & h3
    {
        font-size: clamp(.8em, 6vw, 1.1em);
        font-weight: 500;
        text-transform: capitalize;
    }
    & >div
    {
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        width: fit-content;
        font-size: clamp(0px, 5.5vw, 1em);
        white-space: nowrap;
    }
}
ion-icon
{
    font-size: clamp(0px, 5.5vw, 1em);
    margin: 3px;
    color: var(--ion-color-primary);
}
.seta
{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.seta>ion-icon{color: #ffffffbe;}

ion-searchbar
{
    margin: 7% 0;
    padding: 0 30px;
    --border-radius: 8vw;
}

.display-none{display:none}