<ion-content>
  <ion-grid class="ion-no-padding">

    <ion-row class="ion-justify-content-center">
      <ion-col class="perfilBarbeiro">

        <ion-avatar class="avatarBarbeiro">
            <img src="../../../assets/icon/iconAvatar.png" />
        </ion-avatar>

        <div>
          <h3 class="nomeBarbeiro">André Luiz</h3>
        </div>

      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="textoBarbeiro" size="9">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit itaque accusantium ducimus mollitia repellat odio provident aliquid praesentium quibusdam sed nobis dicta corporis ipsam, laborum consequuntur eligendi excepturi deleniti? Nam!</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="fundoSlider sliderPerfilBarbeiro" size="10">
        <ion-img src="../../../assets/sliderBarbeiro01.jpg"></ion-img>
        <ion-img src="../../../assets/sliderBarbeiro02.jpg"></ion-img>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <ion-button href="/tabs/pg/agende" fill="solid" shape="round">agendar</ion-button>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h3 class="nomeBarbeiro">Avaliações</h3>
    </ion-row>
  </ion-grid>
</ion-content>
