
ion-toolbar
{
    height: 130%;   
    display: flex;
    align-items: center;
    padding-top: 7% !important;

    --background: black;
    overflow: visible;

    & >*{
        padding: 0 20px;
    }
}
ion-toolbar div
{
    width: fit-content;
    height: auto;
    padding-right: 0;
    margin-right: 0;

    position: relative;
    top: 0; left: 0;

    & span{
        opacity: .8;
        font-size: clamp(.5em, 4vw, 1em);
    }
}
ion-title
{
    width: fit-content;
    height: auto;
    padding: 0;
    padding-bottom: 1%;
    font-family: var(--font-title);
    font-size: clamp(.5em, 8vw, 2em);
    letter-spacing: 1.5px;
}
ion-img
{
    width: 20%;
    height: auto;

    position: relative;
    
}
.choosen
{
    width: 90vw;
    height: 3em;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    padding: 0 5%;

    color: white;
    background-color: #202020;
    border-radius: 0 0 25px 25px;
}

.choosen ion-col
{
    width: 100%;
    height: fit-content;
    margin-bottom: 3%;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    opacity: .9;
}
.choosen .title
{
    margin: 0;

    font-weight: 400;
    font-size: 1.1em;
    margin-top: 0 !important;
}
.choosen .preco
{
    font-size: 1em !important;
}

ion-datetime
{
    border-radius: 25px;
    margin: 25% auto 0 auto;
    transition: all .2s;
    font-family: 'Montserrat' !important;

}